VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://ais-dev-4f2o7sdig5nzssw35rgldx-60324807117.europe-west3.run.app/api/auth/google/callback
WHATSAPP_API_KEY=hope_waha_key
